<div class="flex flex-col items-center justify-center px-5">
  <h1 class="text-3xl font-bold">Angular Demo Example</h1>
  <a routerLink="/user">Go to User List</a>

  <div>
    <form
      nz-form
      class="card-body p-4 pt-0"
      autocomplete="off"
      (ngSubmit)="onSubmit(searchTerm)"
    >
      <input
        nz-input
        name="group_name"
        placeholder="Theo tên nhóm"
        class="metronic-input ibg-solid mb-4"
        [(ngModel)]="searchTerm.group_name"
      />
      <input
        nz-input
        name="group_note"
        placeholder="Theo ghi chú"
        class="metronic-input ibg-solid"
        [(ngModel)]="searchTerm.group_note"
      />
      <button nz-button type="submit" class="d-none"></button>
    </form>
  </div>
</div>
